body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    background-color: #75dd8a26;
}
.content {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: calc(100vh - 40px);
    margin-right: 20px;
    padding: 20px;
    flex-grow: 1;
    background-color: #ffffff ; /*#f9f9f9 */
    border-radius: 5px;
}

h3{
    font-style: bold;
    color: #014434;
}

/* searchbar */
.container1 {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
}

.mainbox {
    box-sizing: border-box;
    position: relative;
    width: 230px;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: #014434;
    transition: all 0.3s ease;
}



