body {
  font-family: 'Roboto', sans-serif;
}

.dashboardnavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh; /* Full height of the viewport */
  background-color: #ffffff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; /* Remove the padding here */
  grid-area: navbar;
  z-index: 999; /* Ensure it's above main content */
  justify-content: flex-start; /* Align items to the top */
}

.dashboardnavbar img {
  width: 25px;
  margin: 10px 0;
  opacity: 75%;
}

.dashboardnavbar img:hover {
  /* transform: scale(2); */
  opacity: 100%;
}

.icon-wrapper {
  position: relative;
  margin: 14px 0; /* Increase the space between buttons */
}

.tooltip {
  width: 180px;
  visibility: hidden;
  background-color: #98ffad;
  color: #000000;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}



.logout-btn {
  position: fixed;
  bottom: 10px;
  left: 25px;
}

.dashboard-logo {
  margin-top: -10px; /* Move logo closer to the top */
  margin-bottom: 20px; /* Maintain some spacing between logo and first icon */
}


.dashboard-logo img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  opacity: 0.75;
  transition: all 0.3s ease;
}

.dashboard-logo:hover {
  transform: scale(1.1) rotate(5deg);
}

.dashboard-logo:hover img {
  opacity: 1;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}