*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/images/bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    background: transparent linear-gradient(180deg) 0% 0% no-repeat padding-box;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 40px;
    text-align: center;
    color: #000407;
    
}

.wrapper h2{
    font-size: 20px;
    text-align: center;
    color: #000407;
}

.input-box input:hover {
  border-color: #dcdee7;
  background-color: rgba(227, 231, 248, 0.1);
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height:  50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(10, 9, 9, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #191f23;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #000407;
} */

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 15px;
}

.fa-user, .fa-lock{ /* Update based on your icon classes */
    color: #0a0a0a;
    font-size: 0px;
}

/*drop down CSS*/
.form-container h3{
    font-size: var(--font-32px);
    letter-spacing: 0.64px;
    font-weight: 500;
    color: var(--font-color);
}

.form-container h4{
    font-size: var(--font-18px);
    font-weight: 500;
    color: var(--sub-font-color);
    letter-spacing: 0.18px;
}

.form-container .form-floating{
    width: 100%;
    box-shadow: 0 0 23px -6px rgba(0, 0, 0, 0.10);
}

.form-container .form-floating input{
    color: var(--filed-color);
    font-size: var(--font-16px);
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: none;
}

.form-container .form-floating label{
    padding-left: 20px;
    font-size: var(--font-13px);
    font-weight: 500;
}

.form-container .form-floating input:focus{
    outline: none;
}

/*drop down CSS*/
/*drop down CSS*/

/*checkbox CSS*/
.checkbox-wrapper-46{
    /* display: flex; */
    /* align-items: center; */
    justify-content: space-between;
    margin: 0px 0 20px 0px;
    font-size: small;
    padding: auto;
    font-weight: bold;
}

.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
    margin: 10px 0; /* Adds vertical spacing */
  }
  
  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #1b1919;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #070707;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #0e0e0e;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506eec;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #e8e8ef;
    border-color: #dbdde6;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  #span{
    color: #000407;
    font-weight: 1500000;
  }

  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }
  /*checkbox CSS*/

/*button CSS*/
.button {
    width: 100%;
    --color: #0d0c0a;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    color: #0b0a0a;
    /* color: var(--color); */
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(223, 232, 235);
   }
   
   .button:active {
    filter: brightness(.8);
   } 
/*button CSS*/


.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: #000407;
}

.register-link p a{
    color: #151212;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

